APP_NAME="mini-RAG"
APP_VERSION="0.1"
FILE_ALLOWED_TYPEs=["text/plain","application/pdf"]
FILE_MAX_SIZE=10
MONGODB_URL=mongodb://localhost:27007/
MONGODB_DATABASE=mini-rag
OPENAI_API_KEY=""
  

# ========================= LLM Config =========================
GENERATION_BACKEND = "OPENAI"
GENERATION_BACKEND_TEST_PROVIDER = "GROQ"
EMBEDDING_BACKEND = "COHERE"

OPENAI_API_KEY=""
GROQ_API_KEY =""
OPENAI_API_URL=""
COHERE_API_KEY=""
OPENROUTER_API_KEY=
OPENROUTER_API_UR=


GENERATION_MODEL_ID="openai/gpt-oss-120b"
EMBEDDING_MODEL_ID="embed-multilingual-light-v3.0"
EMBEDDING_MODEL_SIZE=384

=
INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1
